@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: #000000;
    font-family: "Montserrat";
    margin: 0px;
}
nav{
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-right: 5vh;
}
.navbar{
    display: flex;
    gap: 10vh;
}
span>img{
    padding-left: 5px;
}
.container{
    display: flex;
    justify-content: space-around;
    margin-right: 30vh;
    margin-left: 20vh;

}
h1,p,h2,h4{
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 5px;
}
p{
width: 72vh;
font-size: 17px;
font-weight: 200;
margin-top: 10px;
}
h1{
    font-size: 60px;
    
    }
h3{
    color: #c91b28;
    margin-top: 18vh;
    margin-bottom: 0px;
    font-size: 20;
}
h4{
    font-size: 20;
    font-weight: 600;  
    margin-top: 10px;
}
button{
    margin-top: 3vh;
    text-transform: uppercase;
    background-color: #c91b28;
    color:#ffffff;
    padding: 10px 30px;
    border: none;
}
.btn{
    text-transform: uppercase;
    color: #c91b28;
    margin-top: 20px;
}
.btn2{
    color: #ffffff;
    margin-top: 20px;
    text-transform: uppercase;
}
.hero{
    background-image: url("./assets/181818.png");
    background-position: left;
    background-size: 50%;
    background-repeat: no-repeat;
    padding: 40px 0px;
   margin-top:5px;
   margin-left: 0px;
}
.container2{
    display: flex;
    justify-content: space-around;
    margin: 10vh 30vh 10vh 30vh;
}
.card{
    width: 35vh;
    padding: 40px;
    background-color:#1e1e1e ;
    
}
.card-item{
    width:30vh;
}
.active{
    background-color:#c91b28 ;
}
.grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 4vh;
    grid-row-gap: 4vh;
    grid-template-areas:
      "a b c"
      "a d e";
    text-align: center;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-bottom: 5vh;
    }

    .grid-items{
        width: 35vh;
        padding: 10px 40px;
    }
  .item1 {
    grid-area: a;
  }
  .item2 {
    grid-area: b;
    background-color: #1e1e1e;
  }.item3 {
    grid-area: c;
    background-color: #1e1e1e;
  }
  .item4 {
    grid-area: d;
    background-color: #1e1e1e;
  }
  .item5 {
    grid-area: e;
    background-color: #1e1e1e;
  }
.number, .number1{
    color: #c91b28;
}
.number{
    font-size: 80px;
    font-weight: 800;
}
.number1{
    font-size: 30px;
    font-weight: 600;
}
.description{
    color: #ffffff;
    font-size: 25px;
}
.description1{
    color: #ffffff;
}
.grid2{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 4vh;
    grid-row-gap: 4vh;
    padding-bottom: 5vh;
    margin:5vh 15vw;
    }
.image{
    background-color: #1e1e1e;
    padding: 10vh 3vh;
    width: 67vh;
}
.container3{
    display: flex;
    justify-content: space-around;
    margin-left: 4vh;
    margin-right: 4vh;
    margin-top: 5vh;

}
.container4{
    display: flex;
    justify-content: space-between;
    margin-left: 32vh;
    margin-right: 34vh;
    margin-top: 5vh;
    background-color: #1e1e1e;
    margin-bottom: 10vh;

}
.heading{
    width: 85vh;
    font-size: 50px;
    color: #ffffff;
    font-weight: 600;
    margin: 5vh;
    gap: 20vw;
    
}
.heading>p{
    width:85vh;
    font-size: 15px;
}
.contact{
    margin-top: 15vh;
    margin-right: 10vw;
}
.footer{
    display: flex;
    justify-content: center;
    gap: 5vh;
    color: #ffffff;
    margin: 5vh;
}
footer{
    background-color: #1e1e1e;
    padding: 3vh 30vh;
    display: flex;
    gap: 55vh;
}